<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
￼

      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_id %><br>
    <%= f.text_field :tipo_id %>
  </div>
  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :second %><br>
    <%= f.text_field :second %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <%= f.fields_for :tel_tutors   do |u| %>
 <div class="field">
   <%= u.label :tipo %><br />
   <%= u.text_field :tipo %>
 </div>
 <div class="field">
   <%= u.label :numero %><br />
   <%= u.text_field :numero %>
 </div>
 <% end %>
  <div class="field">
    <%= f.label :tipo_tutor %><br>
    <%= f.text_field :tipo_tutor %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
