<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tutor.tipo_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @tutor.id %>
</p>

<p>
  <strong>First:</strong>
  <%= @tutor.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @tutor.second %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @tutor.apellido %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tutor.lastname %>
</p>

<p>
  <strong>Tel tutor:</strong>
  <%= @tutor.tel_tutor_id %>
</p>

<p>
  <strong>Tipo tutor:</strong>
  <%= @tutor.tipo_tutor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutor.user_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @tutor.direction %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
